body {
  background-color: #708090;
  font-family: Arial;
  font-size: 40px;
}

h1 {
  color: darkslategray;
  text-align: left;
  font-family: Arial;
  font-size: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 40px;
}

p {  
  font-family: Arial;
  font-size: 20px;
}

#map-id {
  width: 50%;
  height: 100%;
  padding: 5px;
  margin: 10px;
}

#party-pie {
  width: 50%;
  height: 50%;
  padding: 5px;
  margin: 10px;
}

#gender-pie {
  width: 50%;
  height: 50%;
  padding: 5px;
  margin: 10px;
}

.legend {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: rgb(78, 74, 74);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend .low {
  color: #ec8a2e;
}
.legend .empty {
  color: #a0353a;
}
.legend .coming-soon {
  color: #f4ba48;
}
.legend .healthy {
  color: #1b904f;
}
.legend .out-of-order {
  color: #007dff;

.states :hover {
  fill: red;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.states :hover {
  fill: red;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}